
.top{
	padding-top: 45px;
	padding-bottom: 45px;
	background-image: linear-gradient(100deg,#fff300, #fe1100);
	border: 2px solid black;
	margin-top: 20px;
}
/*Footer Bottom*/

.footer {
  position: absolute;
  	right: 0;
  	left: 0;
    bottom: 0;
  	background-color:#f8f8f8;
  	text-align: left;
    border: 1px solid #e7e7e7;
    /*margin-bottom: 20px;*/
}

.footer p{
  	color: #000000;
}


.line
{
  margin-top: 14px;
  color: #FE1600;
}
.panel
{
  width: 100%;
  margin-top: -12px;
  border-radius: 0px
}




/*Navigation*/
.navbar-default {
    background-color:transparent;
    border-color: transparent;
}
.navbar-nav {
  width: 100%;
  text-align: center;
  > li {
  float: left;
  display: inline-block;
  }
}
.next{
  margin-left: -70px;
}